In [1]:
#Import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
from sqlalchemy import create_engine

In [2]:
#create database connection
rds_connection_string = "root:Monster1@127.0.0.1/comic_db"
#rds_connection_string = "@127.0.0.1/comic_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

engine.table_names()

['char_attributes', 'char_powers', 'characters', 'powers']

In [3]:
#view raw data for marvel comic character dataset
marvel_df = pd.read_csv("data/marvel-wikia-data.csv")
marvel_df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [4]:
#view raw data for DC comic character dataset
dc_df = pd.read_csv('data/dc-wikia-data.csv')
dc_df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

# ETL

In [5]:
#add universe value
marvel_df['universe'] = 'Marvel'

#split the comic character name and the real identity name into different columns
marv_new = marvel_df['name'].str.split('(', n = 1, expand = True)
marvel_df['character_name'] = marv_new[0]
marvel_df['character_name'] = marvel_df['character_name'].str.rstrip()
marvel_df['real_name'] = marv_new[1]
marvel_df['real_name'] = marvel_df['real_name'].str.replace(r')', '')

#remove the word "characters" from the columns
marvel_df['ALIGN'] = dc_df['ALIGN'].str.replace(r' Characters', '')
marvel_df['SEX'] = dc_df['SEX'].str.replace(r' Characters', '')

#keep only the desired columns
marvel_character_df = marvel_df[['name', 'character_name', 'real_name', 'universe','ALIGN', 'EYE', 'SEX', 'Year']]
marvel_character_df.head()

,name,character_name,real_name,universe,ALIGN,EYE,SEX,Year
0,Spider-Man (Peter Parker),Spider-Man,Peter Parker,Marvel,Good,Hazel Eyes,Male,1962.0
1,Captain America (Steven Rogers),Captain America,Steven Rogers,Marvel,Good,Blue Eyes,Male,1941.0
2,"Wolverine (James \""Logan\"" Howlett)",Wolverine,"James \""Logan\"" Howlett",Marvel,Good,Blue Eyes,Male,1974.0
3,"Iron Man (Anthony \""Tony\"" Stark)",Iron Man,"Anthony \""Tony\"" Stark",Marvel,Good,Blue Eyes,Male,1963.0
4,Thor (Thor Odinson),Thor,Thor Odinson,Marvel,Good,Blue Eyes,Male,1950.0

In [6]:
#add universe value
dc_df['universe']='DC'

#rename the year column to match the marvel dataset
dc_df['Year'] = dc_df['YEAR']

#slipt the comic character name and the real identity name into different columns
dc_new = dc_df['name'].str.split('(', n = 1, expand = True)
dc_df['character_name'] = dc_new[0]
dc_df['character_name'] = dc_df['character_name'].str.rstrip()
dc_df['real_name'] = dc_new[1]
dc_df['real_name'] = dc_df['real_name'].str.replace(r')', '')

#remove the word "characters" from the columns
dc_df['ALIGN'] = dc_df['ALIGN'].str.replace(r' Characters', '')
dc_df['SEX'] = dc_df['SEX'].str.replace(r' Characters', '')

#keep only the desired columns
dc_character_df = dc_df[['name', 'character_name', 'real_name', 'universe','ALIGN', 'EYE', 'SEX', 'Year']]
dc_character_df.head()

,name,character_name,real_name,universe,ALIGN,EYE,SEX,Year
0,Batman (Bruce Wayne),Batman,Bruce Wayne,DC,Good,Blue Eyes,Male,1939.0
1,Superman (Clark Kent),Superman,Clark Kent,DC,Good,Blue Eyes,Male,1986.0
2,Green Lantern (Hal Jordan),Green Lantern,Hal Jordan,DC,Good,Brown Eyes,Male,1959.0
3,James Gordon (New Earth),James Gordon,New Earth,DC,Good,Brown Eyes,Male,1987.0
4,Richard Grayson (New Earth),Richard Grayson,New Earth,DC,Good,Blue Eyes,Male,1940.0

In [7]:
#create a master characters dataframe by concatenating the two data sets
characters_df = pd.concat([marvel_character_df, dc_character_df], join="inner")
characters_df = characters_df.reset_index(drop = True)
characters_df = characters_df.reset_index()
characters_df.head()

,index,name,character_name,real_name,universe,ALIGN,EYE,SEX,Year
0,0,Spider-Man (Peter Parker),Spider-Man,Peter Parker,Marvel,Good,Hazel Eyes,Male,1962.0
1,1,Captain America (Steven Rogers),Captain America,Steven Rogers,Marvel,Good,Blue Eyes,Male,1941.0
2,2,"Wolverine (James \""Logan\"" Howlett)",Wolverine,"James \""Logan\"" Howlett",Marvel,Good,Blue Eyes,Male,1974.0
3,3,"Iron Man (Anthony \""Tony\"" Stark)",Iron Man,"Anthony \""Tony\"" Stark",Marvel,Good,Blue Eyes,Male,1963.0
4,4,Thor (Thor Odinson),Thor,Thor Odinson,Marvel,Good,Blue Eyes,Male,1950.0

In [8]:
#create a copy of the characters data frame to adjust the index to act as the primary key when loaded into the character table

character_cols = ['index','name','character_name','real_name','universe','ALIGN','EYE','SEX','Year']
characters_table = characters_df[character_cols].copy()
characters_table = characters_table.rename(columns = {'index' : 'character_id'})
characters_table['character_id'] = characters_table['character_id'] +1

#select the columns for to be inserted into the characters table
character_table = characters_table[['character_id','character_name', 'universe']]
character_table.head()

   character_id   character_name universe
0             1       Spider-Man   Marvel
1             2  Captain America   Marvel
2             3        Wolverine   Marvel
3             4         Iron Man   Marvel
4             5             Thor   Marvel

In [9]:
#insert into the characters table
character_table.to_sql(name = 'characters', con = engine, if_exists = 'append', index = False)

In [10]:
#create an attributes dataframe to manipulate the index value to act as the attribute_id
attributes_table = characters_df[character_cols].copy()
attributes_table = attributes_table.rename(columns = {'index' : 'attribute_id'})
attributes_table['attribute_id'] = attributes_table['attribute_id'] +1

#add the character_id as the foreign key
attributes_table['character_id'] = character_table['character_id'] 

#select the columns to insert into the database from the attributes dataframe
attribute_table = attributes_table[['attribute_id', 'real_name', 'character_id', 'universe', 'ALIGN','EYE','SEX','Year']]
attribute_table.head()

,attribute_id,real_name,character_id,universe,ALIGN,EYE,SEX,Year
0,1,Peter Parker,1,Marvel,Good,Hazel Eyes,Male,1962.0
1,2,Steven Rogers,2,Marvel,Good,Blue Eyes,Male,1941.0
2,3,"James \""Logan\"" Howlett",3,Marvel,Good,Blue Eyes,Male,1974.0
3,4,"Anthony \""Tony\"" Stark",4,Marvel,Good,Blue Eyes,Male,1963.0
4,5,Thor Odinson,5,Marvel,Good,Blue Eyes,Male,1950.0

In [11]:
#insert the data into the char_attributes table
attribute_table.to_sql(name = 'char_attributes', con = engine, if_exists = 'append', index = False)

In [12]:
#connect to the API and return json

base_url = 'https://comicvine.gamespot.com/api/'
resource = 'powers/'
key = '?api_key=4313b3a51cfcc09bf7f547f5a726ec5c0be0f790'
url_format = '&sort=name&format=json'

api_call = base_url + resource + key + url_format

user_agent = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

response = requests.get(api_call, headers = user_agent).json()

In [13]:
#verify the output
api_df = pd.DataFrame(response['results'])
api_df.head()

,aliases,api_detail_url,date_added,date_last_updated,description,id,name,site_detail_url
0,None,https://comicvine.gamespot.com/api/power/4035-66/,2008-06-06 11:28:15,2008-06-06 11:28:15,None,66,Adaptive,https://comicvine.gamespot.com/characters/?wik...
1,None,https://comicvine.gamespot.com/api/power/4035-4/,2008-06-06 11:28:15,2008-06-06 11:28:15,<p>Agility is the ability to move nimbly or qu...,4,Agility,https://comicvine.gamespot.com/characters/?wik...
2,None,https://comicvine.gamespot.com/api/power/4035-87/,2008-06-06 11:28:15,2008-06-06 11:28:15,None,87,Animal Control,https://comicvine.gamespot.com/characters/?wik...
3,None,https://comicvine.gamespot.com/api/power/4035-68/,2008-06-06 11:28:15,2008-06-06 11:28:15,None,68,Animation,https://comicvine.gamespot.com/characters/?wik...
4,None,https://comicvine.gamespot.com/api/power/4035-60/,2008-06-06 11:28:15,2008-06-06 11:28:15,None,60,Astral Projection,https://comicvine.gamespot.com/characters/?wik...

In [14]:
#Use for loops to pull the powers and characters from the API call
power =[]
char = []
k = 0
for url in list(api_df['api_detail_url']):
    ul = api_df['api_detail_url'][k]
    ul = ul + key + url_format
    rep = requests.get(ul, headers = user_agent).json()
    k+=1
    j=0
    for r in rep['results']['characters']:
        try:
            chars = rep['results']['characters'][j]['name']
            char.append(chars)
            powers = rep['results']['name']
            power.append(powers)
            j+=1
        except(IndexError):
            print('done')

In [15]:
#load powers to a dataframe
powers_df= pd.DataFrame(power, columns = ['power'])
powers_df.head()

      power
0  Adaptive
1  Adaptive
2  Adaptive
3  Adaptive
4  Adaptive

In [26]:
powers_df['power'].unique()

array(['Adaptive', 'Agility', 'Animal Control', 'Animation',
       'Astral Projection', 'Berserker Strength', 'Blast Power',
       'Blood Control', 'Chameleon', 'Chemical Absorbtion',
       'Chemical Secretion', 'Claws', 'Controlled Bone Growth',
       'Cosmic Awareness', 'Danger Sense', 'Darkforce Manipulation',
       'Darkness Manipulation', 'Death Touch', 'Density Control',
       'Dimensional Manipulation', 'Divine Powers', 'Duplication',
       'Earth Manipulation', 'Elasticity', 'Electricity Control',
       'Electronic Disruption', 'Electronic interaction',
       'Emotion Control', 'Empathy', 'Energy Absorption',
       'Energy Based Constructs', 'Energy Manipulation', 'Energy Shield',
       'Energy-Enhanced Strike', 'Enhance Mutation', 'Escape Artist',
       'Feral', 'Fire Control', 'Flame Breath', 'Flight', 'Force Field',
       'Gadgets', 'Genetic Manipulation', 'Gravity control', 'Healing',
       'Heat Generation', 'Heat Vision', 'Hellfire Control',
       'Holographic Projection', 'Hypnosis', 'Ice Breath', 'Ice Control',
       'Illusion Casting', 'Immortal', 'Implants', 'Inertia Absorption',
       'Insanely Rich', 'Intellect', 'Invisibility', 'Invulnerability',
       'Leadership', 'Levitation', 'Light Projection', 'Longevity',
       'Magic', 'Magnetism', 'Marksmanship', 'Matter Absorption',
       'Mesmerize', 'Necromancy', 'Omni-lingual', 'Penance Stare',
       'Phasing / Ghost', 'Pheromone Control', 'Plant Control',
       'Poisonous', 'Possession', 'Postcognition', 'Power Item',
       'Power Mimicry', 'Power Suit', 'Precognition', 'Prehensile Hair',
       'Probability Manipulation', 'Psionic', 'Psychic', 'Psychometry',
       'Radar Sense', 'Radiation', 'Reality Manpulation',
       'Sand manipulation', 'Sense Death', 'Shadowmeld', 'Shape Shifter',
       'Siphon Abilities', 'Siphon Lifeforce', 'Size Manipulation',
       'Sonic Scream', 'Soul Absorption', 'Stamina'], dtype=object)

In [16]:
#copy powers df to create powers table for loading
powers_table = powers_df.copy()
#drop duplicates
powers_table.drop_duplicates(inplace = True)
powers_table = powers_table.reset_index(drop = True)
powers_table = powers_table.reset_index()
powers_table = powers_table.rename(columns = {'index' : 'power_id'})
powers_table.head()

   power_id              power
0         0           Adaptive
1         1            Agility
2         2     Animal Control
3         3          Animation
4         4  Astral Projection

In [17]:
#set the primary key value
powers_table['power_id'] = powers_table['power_id'] + 1

In [18]:
#load the powers to sql table
powers_table.to_sql(name = 'powers', con = engine, if_exists = 'append', index = False)

In [22]:
char_powers = powers_df.copy()
char_powers['character_name'] = char
char_powers = char_powers.reset_index(drop = True)

#merge the character list with the powers table
char_powers = char_powers.merge(powers_table, on = 'power', how = 'inner')

#remove duplicate character names from the character_table dataframe 
#since it isn't possible to tell which character matches with the API data
characters_no_duplicates = character_table.drop_duplicates(subset = ['character_name'], keep = False)

#merge the data frames
char_powers = char_powers.merge(characters_no_duplicates, on = 'character_name', how = 'inner')
char_powers = char_powers.sort_values('character_id')

#remove duplicates but keep the first instance of value
char_powers = char_powers.drop_duplicates(keep ='first')
char_powers.head()

            power character_name  power_id  character_id universe
5307  Radar Sense     Spider-Man        88             1   Marvel
5300      Agility     Spider-Man         2             1   Marvel
5302      Gadgets     Spider-Man        42             1   Marvel
5304      Healing     Spider-Man        45             1   Marvel
5305    Intellect     Spider-Man        58             1   Marvel

In [24]:
#select the key rows to be inserted into the database
char_powers_table = char_powers[['power_id', 'character_id']]
#char_powers_table

In [25]:
#populate the SQL table with character and power combination
char_powers_table.to_sql(name = 'char_powers', con = engine, if_exists = 'append', index = False)